.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  
}

#Dark {
  background-color: hsl(220, 13%, 18%);
  color: #ffffffd8
}

#Dark a {
  color: #ffffffd8
}

#Dark a:hover{
  color: #ffffffab
}

#Ligth{
  background-color: #f2f4f69a;
  color: #28455c;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: center;

}

ul{
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
  list-style: none; 
  padding: 0px;
  margin-left: 12px;
  gap: 3rem;
}


h2{
  margin-top: 3px;
}

.layoutCont {  
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

.layoutCont nav ul li a{
  color: #ac1c1cd8 ;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

.layoutCont nav ul li a:hover{
color: #c44040d8 ;
}

.outlet{
  display: flex;
  justify-content: center;
}

.outlet p{
  margin-top: 5px;
}

.react-switch{
  margin-top: 10px;
}